.wrapper {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 50px;
}

.form div {
    margin-bottom: 5px;
}

.form p {
    margin-bottom: 20px;
}

.form button {
    margin-top: 10px;
}