.wrapper {
    width: 100%;
    height: calc(100vh - 64px);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    height: 100%;
    margin: auto;
    padding-bottom: 64px;
}

.form div {
    margin-bottom: 5px;
}

.form p {
    margin-bottom: 20px;
}

.form button {
    margin-top: 10px;
}