.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.btn_block {
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn {
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}